* {
  box-sizing: border-box;
  max-width: 1350px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

h1.heading {
  font-family: 'Noto Sans SC', sans-serif;
  padding-top: 20px; }

h2, h3 {
  color: white;
  font-family: 'Noto Sans SC', sans-serif; }

h3 {
  font-family: 'Noto Sans SC', sans-serif; }

p.calendar {
  margin: 8px;
  font-size: 15px; }

p.calendar:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer; }

ul {
  list-style-type: none; }

ul#menu_programmation {
  display: none; }

li {
  margin: auto 15px; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: red; }

.logo {
  border-right: 1px solid black;
  margin: auto; }

.section-a, .section-b {
  display: flex;
  justify-content: space-around;
  margin: 30px; }

.section-b-right {
  width: 70%;
  background-color: #FF0000;
  z-index: 2; }

.section-c {
  position: relative;
  margin: auto;
  bottom: 70px;
  background: white;
  z-index: 3;
  height: 100px;
  width: 80%;
  text-align: center; }

.menu-a {
  display: flex;
  width: 30%; }

.menu-b {
  width: 70%; }

.menu-b1, .menu-b2 {
  display: flex;
  justify-content: space-between; }

.menu-b2 {
  justify-content: space-around;
  margin-left: 200px; }

button.billet {
  background: red;
  width: 100px;
  height: 40px;
  border: 1px solid red;
  font-weight: bold;
  color: white;
  cursor: pointer; }

.text-right {
  margin: 50px; }

.container {
  position: relative;
  bottom: 60px;
  width: 980px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.programm {
  position: relative;
  top: 1px;
  width: 70%;
  height: 60%;
  overflow: hidden;
  border-left: 1px solid #494949;
  border-right: 1px solid #494949; }

.program-dates {
  padding: 13px;
  text-align: center;
  width: 110px;
  height: 70px;
  background: whitesmoke;
  border: 1px solid white; }

.calendar_week {
  display: flex;
  align-items: center; }

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.posts {
  height: 100%;
  position: relative;
  transition: 0.5s; }

.postbox {
  display: flex;
  margin: 100px; }

.program-dates {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  animation: fadeIn 1s infinite;
  padding: 13px;
  text-align: center;
  width: 110px;
  height: 50px;
  background: whitesmoke;
  border: 1px solid white; }

.btn_left,
.btn_right {
  cursor: pointer;
  transition: 0.5s; }

.btn_left:hover,
.btn_right:hover {
  color: red; }

.space0 {
  right: 0px; }

.space1 {
  right: 50px; }

.space2 {
  right: 100px; }

.space3 {
  right: 150px; }

.space4 {
  right: 200px; }

.space5 {
  right: 250px; }
